body {
    background: rgba(139, 173, 223, 0.856);
}

.lhama {
    width: 100px;
    height: 100px;
    background-image: url(../assets/img/lhama.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    width: 60px;
    height: 60px;
    background-image: url(../assets/img/cactus1.png);
    position: absolute;
    bottom: 0;
}

.game-over {
    text-align: center;
    color: #161135;
    margin-top: 80px;
    font-family: 'Pacifico', cursive;
}

/*para definir etapas da animação do backgroung */
@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(../assets/img/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear; /*deslisar para direito, com velocidade de 600s de forma infita e linear, sem variaçãod e velocidade */
    width: 100%;
    height: 200px;
}